@import "_colors";

// html, body {margin: 0; height: 100%; overflow: hidden}

body {
  background: url("../Images/Background\ gradient\ only.png");
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  // overflow-wrap: anywhere;
}

* {
  box-sizing: border-box;
}

.navbar_wrapper {
  width: 100%;
  .sub-header {
    // margin-top: 5rem;
    // overflow: hidden;
    z-index: 1;
    // padding: 0.5rem;
    // background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    left: 100px;
    right: 100px;
    top: 30px;

    background: rgba(119, 119, 217, 0.3);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;

    .firstContainer {
      width: 94%;
      a {
        img {
          width: 70%;
        }
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          // background-color: $white;
          color: $bg_color;
        }
      }
      // border: 1px solid red;
      .collapse {
        ul {
          li {
            a {
              font-style: normal;
              font-weight: 400;
              font-size: 0.8em;
              // line-height: 22px;
              color: $white;
              margin-right: 2rem;
            }
            ul {
              li {
                .dropdown-item {
                  color: $black;
                }
              }
            }
          }
        }

        .loginButton {
          display: flex;
          justify-content: space-between;
          // border: 1px solid yellow;

          a {
            font-style: normal;
            font-weight: 400;
            font-size: 0.8em;
            // line-height: 22px;
            color: $white;
            margin-right: 2rem;
          }
          button {
            background-color: $white;
            border: none;
            color: $bg_color;
            width: 100%;
            font-size: 0.8em;
            font-weight: 600;
            padding-left: 3rem;
            padding-right: 3rem;
          }

          button:hover {
            background-color: $bg_color;
            border: none;
            color: $white;
            width: 100%;
            font-size: 0.8em;
            padding-left: 3rem;
            padding-right: 3rem;
          }
        }
      }
    }
  }
}


@media screen and(max-width: 420px) {
  .navbar_wrapper{
    .sub-header{
      width: 74%;
      margin-left: -5rem;      
      .firstContainer{
        .navbar-brand{
          display: flex;
          padding: 0;
          img{
            width: 30%;
          }
        }
        .navbar-toggler{
          margin-left: -3rem;
        }
        .collapse{
          .loginButton{
            button{
              padding-left: 1rem;
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 517px) {
  .navbar_wrapper{
    .sub-header{
      width: 84%;
      margin-left: -5rem;      
      .firstContainer{
        .navbar-brand{
          display: flex;
          padding: 0;
          margin: 0;
          img{
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 1200px) and (max-width: 1427px) {
  .navbar_wrapper{
    width: 100%;
    .sub-header{
      padding: 0.5rem;
      width: 84%;
      // margin-left: 5rem;      
      .firstContainer{
        .navbar-brand{
          display: flex;
          padding: 0;
          margin: 0;
          img{
            width: 50%;
          }
        }

        // .navbar-toggler{

        // }
        .collapse{
          ul{
            li{
              a{
              font-style: normal;
              font-weight: 400;
              font-size: 0.7em;
              // line-height: 22px;
              color: $white;
              margin-right: 2rem;
              }
            }
          }
          .loginButton{
            // a{

            // }
            .btn{
              padding-left: 2rem;
              padding-right: 2rem;
              width: max-content;
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width:992px) and (max-width: 1200px) {
  .navbar_wrapper{
    width: 100%;
    .sub-header{
      padding: 0.5rem;
      width: 84%;
      // margin-left: 5rem;      
      .firstContainer{
        .navbar-brand{
          display: flex;
          padding: 0;
          margin: 0;
          img{
            width: 50%;
          }
        }

        // .navbar-toggler{

        // }
        .collapse{
          ul{
            li{
              a{
              font-style: normal;
              font-weight: 400;
              font-size: 0.53em;
              // line-height: 22px;
              color: $white;
              margin-right: 2rem;
              }
            }
          }
          .loginButton{
            a{
              font-size: 0.53em;
            }
            .btn{
              padding-left: 1.5rem;
              padding-right: 1.5rem;
              width: max-content;
            }
          }
        }
      }
    }
  }
}


.hero-section {
  padding-top: 5rem;
  background-image: url("../Images/Background\ gradient\ with\ shape.png");
  .hero-section-1 {
    .hero-1 {
      // border: 1px solid red;

      padding: 4rem 2rem 0rem 2rem;
      justify-content: space-between;
      align-items: center;

      .sub_hero {
        .herotext {
          overflow: hidden;
          text-align: left;
          // border: 1px solid greenyellow;
          h1 {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 4.5em;
            // line-height: 67px;

            color: #ffffff;
            .money-go-further{
              color: $yellow;
            }
          }
          p {
            margin-top: 0.5rem;
            color: $white;
            font-style: normal;
            font-weight: 300;
            font-size: 0.9em;
          }
          .hero_button {
            margin-top: 0.5rem;
            background-color: $bg_color;
            color: $white;
            border: none;
            padding: 1rem;
            border-radius: 8px;
            width: 40%;
            box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
              0px 2px 4px rgba(52, 60, 68, 0.16);
            img {
              color: $white;
            }
          }
          .hero_button:hover {
            margin-top: 0.5rem;
            background-color: #0ba2da;
            color: $white;
            border: none;
            padding: 1rem;
            border-radius: 8px;
            width: 40%;
            box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
              0px 2px 4px rgba(52, 60, 68, 0.16);            img {
              color: $white;
            }
          }
        }
      }

      .sub_hero_2 {
        .heroimage {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // border: 1px solid greenyellow;

          img {
            width: 80%;
          }
          .Ellipse {
            width: 50%;
          }
        }
      }
    }
  };
  .swapmoney_values {
    // border: 1px solid red;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(40px);
    width: 100%;
    // max-height: 130px;
    .sub-section--1 {
      .values_container {
        padding-top: 1rem;
        .row {
          .sub__values {
            color: $white;
            margin: 0;
            padding: 0;
            span {
              font-weight: 500;
              font-size: 0.6em;
              // line-height: 17px;
            }
            p {
              font-family: "Raleway", sans-serif;
              font-weight: 200;
              font-size: 2em;
              // line-height: 49px;
            }
          }
        }
      }
    }
  }


}

@media screen and (max-width: 420px) {
  .hero-section {
    // margin: 0;

    .hero-section-1 {
      .hero-1 {
        .sub_hero {
          .herotext {
            h1 {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 2.9em;
              // line-height: 67px;
            }
            p {
              margin-top: 1.5rem;
              font-size: 1.1em;
            }
            .hero_button {
              width: max-content;
              font-size: 1em;
              padding-left: 2rem;
              padding-right: 2rem;
              margin-top: 1.5rem;
              margin-bottom: 2.5rem;
              img {
                color: $white;
              }
            }
          }
        }
        .sub_hero_2 {
          .heroimage {
            img {
              // display: none;
              width: 100%;
            }
          }
        }
      }
    }

    .swapmoney_values{
      .sub-section--1{
        padding-left: 1rem;
        .values_container{
          .row{
            .sub__values{
              span{
                font-size: 0.6em;
              }
              p{
                font-size: 2em;
              }
            }
          }
        }
      }
    }
  }
};

@media screen and (min-width: 1200px) and (max-width: 1427px) {
  .hero-section {
    // margin: 0;
    .hero-section-1 {
      .hero-1 {
        .sub_hero {
          .herotext {
            h1 {
              font-size: 3.5em;
            }
            p {
              font-size: 0.9em;
            }
            .hero_button {
              width: max-content;
              img {
                color: $white;
              }
            }
          }
        }
        .sub_hero_2 {
          .heroimage {
            img {
              width: 70%;
            }
          }
        }
      }
    }

    // .swapmoney_values{
    //   .sub-section--1{
    //     .values_container{
    //       .row{
    //         .sub__values{
    //           span{

    //           }
    //           p{

    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

// @media screen and (max-width: 984px) {
//   .hero-section {
//     // margin: 0;

//     .hero-section-1 {
//       .hero-1 {
//         .sub_hero {
//           .herotext {
//             h1 {
//               font-size: 30px;
//             }
//             p {
//               font-size: 15px;
//             }
//             .hero_button {
//               width: max-content;
//               font-size: 0.7em;
//               img {
//                 color: $white;
//               }
//             }
//           }
//         }
//         .sub_hero_2 {
//           .heroimage {
//             img {
//               // display: none;
//               width: 100%;
//             }
//           }
//         }
//       }
//     }

//     .swapmoney_values{
//       .sub-section--1{
//         .values_container{
//           .row{
//             .sub__values{
//               span{
//                 font-size: 0.3em;
//               }
//               p{
//                 font-size:1.3em;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (min-width: 975px) and (max-width:1200px) {
  .hero-section {
    // margin: 0;
    .hero-section-1 {
      .hero-1 {
        .sub_hero {
          .herotext {
            h1 {
              font-size: 3.2em;
            }
            p {
              font-size: 0.8em;
            }
            .hero_button {
              width: max-content;
              img {
                color: $white;
              }
            }
          }
        }
        .sub_hero_2 {
          .heroimage {
            img {
              width: 70%;
            }
          }
        }
      }
    }
  }

    .swapmoney_values{
      .sub-section--1{
        .values_container{
          .row{
            .sub__values{
              span{
                font-size: 0.3em;
              }
              p{
                font-size: 1.3em;
              }
            }
          }
        }
      }
    }
  }
  

// @media screen and (max-width: 576px) {
//   .hero-section {
//     // margin: 0;

//     .hero-section-1 {
//       .hero-1 {
//         .sub_hero {
//           .herotext {
//             h1 {
//               font-size: 30px;
//             }
//             p {
//               font-size: 15px;
//             }
//             .hero_button {
//               width: max-content;
//               font-size: 0.7em;
//               img {
//                 color: $white;
//               }
//             }
//           }
//         }
//         .sub_hero_2 {
//           .heroimage {
//             img {
//               // display: none;
//               width: 100%;
//             }
//           }
//         }
//       }
//     }
//   }

//   .swapmoney_values{
//     .sub-section--1{
//       .values_container{
//         .row{
//           .sub__values{
//             span{
//               font-size: 0.3em;
//             }
//             p{
//               font-size: 1.3em;
//             }
//           }
//         }
//       }
//     }
//   }
// }


.about-us {
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  .sub_section-2 {
    .about-us-row {
      justify-content: space-between;
      .about-text {
        text-align: left;
        justify-content: center;
        .about-us__1 {
          h3 {
            font-family: "Raleway", sans-serif;
            // font-style: normal;
            font-weight: bold;
            font-size: 2em;
            color: $white;
            .colored-story{
              color: $yellow;
            }
          }
          .inner-about-us-text{
            p {
              font-style: normal;
              font-weight: 200;
              font-size: 1em;
              // line-height: 170%;
              color: $white;
              text-align: justify;
            }

          }
          .learn-more {
            margin-top: 1rem;
            background-color: #e5e5e500;
            color: $white;
            border: 1px solid $white;
            padding: 1rem;
            border-radius: 7px;
          }
          .learn-more:hover {
            margin-top: 1rem;
            background-color: $bg_color;
            color: $white;
            border: none;
            padding: 1rem;
            border-radius: 7px;
          }
        }
      }
      .about-image {
        margin-left: 3rem;
        img {
          width: 80%;
        }
        .sub-image {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 214px;
          height: 166px;
          right: 20px;
          bottom: 100px;

          background: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(40px);
          /* Note: backdrop-filter has minimal browser support */

          border-radius: 15px;

          h5 {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.8em;
            // line-height: 61px;
            color: $pri_purple;
          }
        }
      }
    }
  }
}


@media screen and(max-width: 420px) {
  .about-us {
    margin: 0;

    .sub_section-2 {
      .about-us-row {
        justify-content: center;
        .about-text{
          .about-us__1{
            margin: 0;
            padding-top: 0;
            h3{
              font-size: 2.5em;
            }
            .inner-about-us-text{
              p{
                font-size: 1em;
              }

            }
            // .learn-more{

            // }
          }
        }
        .about-image {
          // width: 50%;
          display: none;
          img {
            width: 100%;
            .sub-image {
              width: 214px;
              height: 166px;
              right: 20px;
              bottom: 100px;
              h5 {
                font-size: 1.8em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1200px) {
  .about-us {
    margin: 0;

    .sub_section-2 {
      .about-us-row {
        justify-content: center;

        .about-image {
          // width: 50%;
          img {
            width: 100%;
            .sub-image {
              width: 214px;
              height: 166px;
              right: 20px;
              bottom: 100px;
              h5 {
                font-size: 1.8em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: 580px) and (max-width: 993) {
  .about-us {
    margin: 0;

    .sub_section-2 {
      .about-us-row {
        .about-text {
          margin-left: 0.2rem;
          .about-us_1 {
            p {
              font-size: 0.3em;
            }
          }
        }
        .about-image {
          img {
            width: 100%;
          }
          .sub-image {
            width: 126px;
            height: 109px;
            right: 20px;
            bottom: 79px;
            h5 {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 580px) {
  .about-us {
    margin: 0;

    .sub_section-2 {
      .about-us-row {
        .about-text {
          margin-left: 0.2rem;
          .about-us_1 {
            p {
              font-size: 0.3em;
            }
          }
        }
        .about-image {
          display: block;
          justify-content: center;
          margin-top: 3rem;
          // display: none;
          img {
            width: 80%;
          }
          .sub-image {
            width: 146px;
            height: 124px;
            right: 20px;
            bottom: 60px;
            h5 {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

.our-partners {
  margin: 0;

  background: $white;
  // border-radius: 40%;
  .parabola_1,
  .parabola_2 {
    img {
      width: 100%;
    }
  }
  .sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header-text {
      text-align: center;
      h2 {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5em;
        color: $pri_purple;
        margin-bottom: 6rem;
        padding-top: 0;
        margin-top: 0;
      }
      p {
        margin-top: 1rem;
        // font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2em;
        // line-height: 160%;
      }
    }

    .partners-logo {
      .logo_1 {
        // margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding-left: 1rem;
        // padding-right: 1rem;
        img {
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);          
          width: 10%;
          margin-right: 5rem;
        }
        img:hover{
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);          
          width: 10%;
        }
      }
      .logo_2 {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        img {
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);          
          width: 10%;
          margin-right: 2rem;
        }
        img:hover{
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);          
          width: 10%;
        }
      }

      .logo_3 {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        img {
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);          
          width: 10%;
          margin-right: 5rem;
        }
        img:hover{
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);          
          width: 10%;
        }
      }
    }
  }
}


@media screen and(max-width:576px) {
  .our-partners {
    margin: 0;
    .parabola_1,
    .parabola_2 {
      img {
        width: 100%;
      }

    }
      .sub-section{
        .header-text{
          h2{
            font-size: 1.5em;
            margin-bottom: 1rem;
          }
        }
      }

      .partners-logo{
        .logo_1{
          display: flex;
          justify-content: center;
          text-align: justify;
          img{
            width: 100%;
          }
        }
        .logo_2{
          display: flex;
          justify-content: center;
          text-align: justify;
          img{
            width: 100%;
          }
        }
        .logo_3{
          display: flex;
          justify-content: center;
          text-align: justify;
          margin-left: 4rem;
          img{
            width: 100%;
          }
        }
      }
  }
}

@media screen and(max-width:576px) {
  .our-partners {
    margin: 0;
    .parabola_1,
    .parabola_2 {
      img {
        width: 100%;
      }

      // .sub-section{
      //   .header-text{
      //     h2{
      //     }
      //   }
      // }
    }
  }
}

.why-swap-money {
  margin: 0;

  .sub-section {
    padding: 6rem;
    .sub-section-1 {
      display: flex;
      align-items: center;
      .girl-image {
        margin-right: 2rem;
        // overflow: hidden;
        img {
          width: 100%;
        }
      }
      // .girl-image:hover {
      //   margin-right: 2rem;
      //   width: 300px;
      //   height: 300px;
      //   transform: rotate(180deg);
      //   img {
      //     width: 100%;
      //   }
      }
      .why-swap-text {
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: $pri_purple;
        padding: 30px 40px;
        margin-left: 2rem;
        h2 {
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 2em;
        }
        p {
          margin-top: 2rem;
          font-style: normal;
          font-weight: 400;
          font-size: 1em;
          // line-height: 170%;
        }
      }
    }

    .sub-section-2 {
      padding: 4rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      .swap-benefits-1 {
        width: 100%;
        max-width: 268px;
        max-height: 122px;
        // width: 268px;
        // height: 122px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        // margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        /* Note: backdrop-filter has minimal browser support */

        border-radius: 10px;
        .swap-card {
          width: 100%;
          display: flex;
          align-items: center;
          // justify-content: space-between;
          padding: 1rem;
          img {
            // margin-right: 0.5rem;
            width: 60%;
          }

          .swap-text {
            width: 100%;
            color: $white;
            text-align: left;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.7em;
            }
            p {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 1.2em;
            }
          }
        }
      }
      .swap-benefits-2 {
        width: 100%;
        max-width: 384px;
        max-height: 122px;
        margin-left: 2rem;
        // width: 384px;
        // height: 122px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        // margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 10px;
        .swap-card {
          display: flex;
          align-items: center;

          // justify-content: space-between;
          padding: 1rem;
          width: 100%;
          img {
            // margin-right: 0.5rem;
            width: 60%;
          }

          .swap-text {
            color: $white;
            text-align: left;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.7em;
            }
            p {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 1.2em;
            }
          }
        }
      }
      .swap-benefits-3 {
        width: 100%;
        max-width: 197px;
        max-height: 122px;
        margin-left: 2rem;
        // width: 197px;
        // height: 122px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        // margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 10px;
        .swap-card {
          display: flex;
          align-items: center;

          // justify-content: space-around;
          padding: 1rem;
          width: 100%;
          img {
            // margin-right: 0.5rem;
            width: 60%;
          }

          .swap-text {
            color: $white;
            text-align: left;
            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.7em;
            }
            p {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 1.5em;
            }
          }
        }
      }
      .swap-benefits-4 {
        width: 100%;
        max-width: 417px;
        max-height: 122px;
        margin-left: 2rem;
        // width: 417px;
        // height: 122px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        display: flex;
        align-items: center;
        justify-content: center;
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 10px;
        .swap-card {
          display: flex;
          align-items: center;

          // justify-content: space-between;
          padding: 1rem;
          width: 100%;
          img {
            width: 60%;
          }

          .swap-text {
            color: $white;
            text-align: left;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.7em;
            }
            p {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 1em;
            }
          }
        }
      }
    }

}


@media screen and (max-width: 420px) {
  .why-swap-money {
    margin: 0;

    .sub-section {
      .sub-section-1 {
        margin-left: -6rem;
        margin-right: -2rem;
        .girl-image {
          img {
            margin-left: 2rem;
            width: 100%;
          }
        }
        .why-swap-text {
          width: 100%;
          margin-left: 2rem;
          padding: 1.5rem;         
          h2 {
            font-size: 1.5em;
          }
          p {
            font-size: 0.8em;
          }
        }
      }
      .sub-section-2 {
        display: block;
        margin-left: -2rem;
        padding: 0;
        .swap-benefits-1 {
          margin-top: 2rem;
          margin-left: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
        .swap-benefits-2 {
          margin-top: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
        .swap-benefits-3 {
          margin-top: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
        .swap-benefits-4 {
          margin-top: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .why-swap-money {
    margin: 0;

    .sub-section {
      // .sub-section-1 {
      //   .girl-image {
      //     img {
      //       // width: 90%;
      //     }
      //   }
      //   .why-swap-text {
      //     h2 {
      //     }
      //     p {
      //     }
      //   }
      // }
      .sub-section-2 {
        padding: 0;
        .swap-benefits-1 {
          margin-top: 2rem;
          margin-left: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
        .swap-benefits-2 {
          margin-top: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
        .swap-benefits-3 {
          margin-top: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
        .swap-benefits-4 {
          margin-top: 2rem;
          // .swap-card {
          //   .icon {
          //     img {
          //     }
          //   }
          //   .swap-text {
          //   }
          // }
        }
      }
    }
  }
}

.why-swap-money-2 {
  margin: 0;
  justify-content: center;
  text-align: center;
    .sub-section {
      display: flex;
      justify-content: center;
      padding-left: 6rem;
    // padding-right: 4rem;
    padding-bottom: 6rem;
    // margin-bottom: 6rem;
    .sub-section-2 {
      justify-content: center;
      padding: 3rem 6rem 6rem 6rem;
      .why-swap-text {        
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: $pri_purple;
        text-align: justify;
        padding: 2rem;
        // padding: 30px 30px 0px 30px;
        // margin-right: 4rem;
        margin-bottom: 0;
        width: 50%;
        h2{
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 2em;
          // line-height: 61px;
          .colored-impossibilities{
            color: $yellow2;
          }        
        }
        p {
          text-align: justify;
          font-style: normal;
          font-weight: 400;
          font-size: 1em;
          // line-height: 170%;
          text-align: justify;        
        }
        .learn-more {
          margin-top: 1rem;
          background-color: #e5e5e500;
          color: $white;
          border: 1px solid $white;
          padding: 1rem;
          border-radius: 7px;
        }
        .learn-more:hover {
          margin-top: 1rem;
          background-color: $bg_color;
          color: $white;
          border: none;
          padding: 1rem;
          border-radius: 7px;
        }
      }
      .why-swap-text-2 {
        img {
          width: 73%;
        // width: 453px;
        // height: 858px;
        }
      }
    }
  }
}


@media screen and (max-width: 420px) {
  .why-swap-money-2 {
    margin: 0;
    padding-bottom: 4rem;
    .sub-section {
      display: block;
      justify-content: center;
      padding: 0;
      .sub-section-2 {
        padding: 0;
        justify-content: center;
        margin: 0;
        // margin-left: -4rem;
        // margin-right: -4rem;
        .why-swap-text {
          width: 84%;
          padding: 1.5rem;
          // margin-top: 2rem;
          // margin-left: 4.4rem;
          h2{
            font-size: 1.5em;
          }
          p{
            font-size: 0.8em;
          }        
        }
        .why-swap-text-2 {
          img {
            display: none;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width:1300px) {
  .why-swap-money-2 {
    margin: 0;

    .sub-section {
      .sub-section-2 {

        .why-swap-text {
          width: 50%;
        }
        .why-swap-text-2 {
          margin-top: 2rem;
          img {
            margin-left: 2rem;
            width: 100%;
          }
        }
      }
    }
  }
}

.win-with-us {
  margin: 0;

  background-color: $white;
  .sub-section {
    padding: 7em;
    h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 650;
      font-size: 2.5em;
      .colored-wins{
        color: $yellow2;
      }
    }
    .sub-section-1 {
      margin-top: 3rem;
      .card-wrap {
        .swap-cardds-1 {
          box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
          border-radius: 20px;
          margin-right: 2rem;
          .card-body {
            padding-bottom: 4rem;
            .custom-title {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 1.3em;
            }
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 1em;
            }
            .cards-button {
              margin-top: 1rem;
              background: $bg_color;
              /* Shadow/02 */
              box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
                0px 2px 4px rgba(52, 60, 68, 0.16);
              border-radius: 7px;
              border: none;
              color: #f9fafb;
              font-size: 0.3em;
              padding: 0.6rem;
            }
            .cards-button:hover {
              margin-top: 1rem;
              background: #2e9dc2;
              /* Shadow/02 */
              box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
                0px 2px 4px rgba(52, 60, 68, 0.16);
              border-radius: 7px;
              border: none;
              color: #f9fafb;
            }
          }
        }
        .swap-cardds-2 {
          box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
          border-radius: 20px;
          margin-right: 2rem;
          .card-body {
            padding-bottom: 4rem;
            .custom-title {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 1.3em;
            }
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 1em;
            }
            .cards-button {
              margin-top: 1rem;
              background: $bg_color;
              /* Shadow/02 */
              box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
                0px 2px 4px rgba(52, 60, 68, 0.16);
              border-radius: 7px;
              border: none;
              color: #f9fafb;
              font-size: 0.3em;
              padding: 0.6rem;
            }
            .cards-button:hover {
              margin-top: 1rem;
              background: #2e9dc2;
              /* Shadow/02 */
              box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
                0px 2px 4px rgba(52, 60, 68, 0.16);
              border-radius: 7px;
              border: none;
              color: #f9fafb;
            }
          }
        }
        .swap-cardds-3 {
          box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
          border-radius: 20px;
          margin-right: 2rem;

          img{
            width: 100%;
          }
          .card-body {
            padding-bottom:4rem;
            .custom-title {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 1.3em;
            }
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 1em;
            }
            .cards-button {
              margin-top: 1rem;
              background: $bg_color;
              /* Shadow/02 */
              box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
                0px 2px 4px rgba(52, 60, 68, 0.16);
              border-radius: 7px;
              border: none;
              color: #f9fafb;
              font-size: 0.3em;
              padding: 0.6rem;
            }
            .cards-button:hover {
              margin-top: 1rem;
              background: #2e9dc2;
              /* Shadow/02 */
              box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
                0px 2px 4px rgba(52, 60, 68, 0.16);
              border-radius: 7px;
              border: none;
              color: #f9fafb;
            }
          }
        }      }
    }
  }
}

// .win-with-us {
//   margin: 0;

//   background-color: #e5e5e5;
//   .sub-section {
//     padding: 4rem;
//     h2 {
//       font-weight: bold;
//     }
//     .sub-section-1 {
//       margin-top: 3rem;
//       .card-wrap {

//       }
//     }
//   }
// }

// .win-with-us {
//   margin: 0;

//   background-color: #e5e5e5;
//   .sub-section {
//     padding: 5rem 0rem 5rem 0rem;
//     h2 {
//       font-weight: bold;
//     }
//     .sub-section-1 {
//       margin-top: 3rem;
//       .card-wrap {
//       }
//     }
//   }
// }

@media screen and(max-width:420px) {
  .win-with-us {
    margin: 0;
    .sub-section {
      justify-content: center;
      align-items: center;
      padding: 0;
      padding-bottom: 4rem;
      h2{
        padding: 3rem 1rem 0rem 1rem;
        font-size: 2.2em;

      }
      .sub-section-1 {
        margin-left: 1rem;
        margin-top: 0;
        .card-wrap {
          .swap-cardds-1, .swap-cardds-2, .swap-cardds-3 {
            margin-top: 4rem;
            // img {
            // }
            .card-body {
              .custom-title {
                .accordion{
                  .accordion-item{
                    .accordion-header{
                      button{
                        padding-left: 2rem;
                        padding-right: 2rem;
                        font-size: 0.7em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:1200px) {
  .win-with-us {
    margin: 0;

    .sub-section {
      justify-content: center;
      align-items: center;
      .sub-section-1 {
        .card-wrap {
          .swap-cardds-1, .swap-cardds-2, .swap-cardds-3 {
            margin-top: 4rem;
            // img {
            // }
            // .card-body {
            //   .custom-title {
            //     .card-text {
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}

.swap-money-footer {
  background-color: $pri_purple;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .sub-section-1 {
    // border: 1px solid green;
    // align-items: flex-end;
    justify-content: space-between;
    padding: 5rem 2rem 3rem 7rem ;
      .swap-footer-1 {
        // border: 1px solid red;
        margin-top: 2rem;
        img {
        width: 30%;
        margin-bottom: 1rem;
      }
      p {
        color: $white;
        font-style: normal;
        font-weight: 300;
        font-size: 0.9em;
        // line-height: 150%;
      }
    }
    .about-footer{
      // border: 1px solid red;

      .swap-footer-2 {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        .footer-companies {
          // padding-top: 2rem;
          .companies {
            margin-bottom: 1rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            color: #9b9bf7;
          }
          .footer-links {
            margin-top: 2rem;
            p {
              font-style: normal;
              font-weight: 300;
              font-size: 0.9em;
              // line-height: 19px;
            }
            a {
              text-decoration: none;
              color: $white;
            }
          }
        }
        .footer-products {
          padding-top: 2rem;
          .products {
            margin-bottom: 1rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            color: #9b9bf7;
          }
          .footer-links {
            margin-top: 2rem;
            p {
              font-style: normal;
              font-weight: 300;
              font-size: 0.9em;
              // line-height: 19px;
            }
            a {
              text-decoration: none;
              color: $white;
            }
          }
        }

        .footer-offers {
          padding-top: 2rem;
          .offers {
            margin-top: 1rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            color: #9b9bf7;
          }
          .footer-links {
            margin-top: 2rem;
            p {
              font-style: normal;
              font-weight: 300;
              font-size: 0.9em;
              // line-height: 19px;
            }
            a {
              text-decoration: none;
              color: $white;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 420px) {
  .swap-money-footer{
    margin: 0;
    .sub-section-1{
      padding: 0;
      text-align: left;
      .swap-footer-1{
        img{
          width: 100%;
        }
        p{
          font-size: 0.9em;
          margin-bottom: 3rem;
        }
      }
      .about-footer{
        display: flex;
        .swap-footer-2{
          flex-direction: column;
          // .footer-companies{
          //   .companies{

          //   }
          //   .footer-links{

          //   }
          // }
          // .footer-products{
          //   .products{

          //   }
          //   .footer-links{

          //   }
          // }
          // .footer-offers{
          //   .offers{

          //   }
          //   .footer-links{

          //   }
          // }
        }
      }
    }
  }
}

.footer-base {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:1px solid $white;
  background-color: $pri_purple;
  padding: 1.5rem 7rem 1.5rem 7rem;
  .footer-base-circles {
    .span {
      color: $white;
      font-size: 2em;
      // .fa-brands{

      // }
    }
  }
  .footer-copyright {
    p {
      color: #9b9bf7;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      text-align: left;
    }
  }
}

@media screen and (max-width:420px) {
  .footer-base{
    margin: 0;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    .footer-base-circles{
      margin-bottom: 2rem;
      // .dot{

      // }
    }
    .footer-copyright{
      p{
        font-size: 0.8em;
        text-align: left;
      }
    }
  }
}




// @keyframes rotating /* Safari and Chrome */ {
//   from {
//     -webkit-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   to {
//     -webkit-transform: rotate(360deg);
//     -o-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// @keyframes rotating-globe {
//   from {
//     -ms-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -webkit-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   to {
//     -ms-transform: rotate(360deg);
//     -moz-transform: rotate(360deg);
//     -webkit-transform: rotate(360deg);
//     -o-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// .rotating-globe {
//   -webkit-animation: rotating 2s linear infinite;
//   -moz-animation: rotating 2s linear infinite;
//   -ms-animation: rotating 2s linear infinite;
//   -o-animation: rotating 2s linear infinite;
//   animation: rotating 2s linear infinite;
// }

.animate__animated.animate__slideInLeft, .animate__slideInRight {
  --animate-duration: 2s;
}

.herotobeanimated {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.girl-image.active {
  animation-duration: 3s;
  animation-name: slidein;
  // animation: typeIn 2s steps(28) forwards;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
