body {
  background: url("../Images/Background gradient only.png");
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar_wrapper {
  width: 100%;
}

.navbar_wrapper .sub-header {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  left: 100px;
  right: 100px;
  top: 30px;
  background: rgba(119, 119, 217, 0.3);
  -webkit-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

.navbar_wrapper .sub-header .firstContainer {
  width: 94%;
}

.navbar_wrapper .sub-header .firstContainer a img {
  width: 70%;
}

.navbar_wrapper .sub-header .firstContainer .navbar-toggler .navbar-toggler-icon {
  color: #00AFF0;
}

.navbar_wrapper .sub-header .firstContainer .collapse ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  color: #FFFFFF;
  margin-right: 2rem;
}

.navbar_wrapper .sub-header .firstContainer .collapse ul li ul li .dropdown-item {
  color: #000000;
}

.navbar_wrapper .sub-header .firstContainer .collapse .loginButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_wrapper .sub-header .firstContainer .collapse .loginButton a {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  color: #FFFFFF;
  margin-right: 2rem;
}

.navbar_wrapper .sub-header .firstContainer .collapse .loginButton button {
  background-color: #FFFFFF;
  border: none;
  color: #00AFF0;
  width: 100%;
  font-size: 0.8em;
  font-weight: 600;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar_wrapper .sub-header .firstContainer .collapse .loginButton button:hover {
  background-color: #00AFF0;
  border: none;
  color: #FFFFFF;
  width: 100%;
  font-size: 0.8em;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (max-width: 420px) {
  .navbar_wrapper .sub-header {
    width: 74%;
    margin-left: -5rem;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand img {
    width: 30%;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-toggler {
    margin-left: -3rem;
  }
  .navbar_wrapper .sub-header .firstContainer .collapse .loginButton button {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 517px) {
  .navbar_wrapper .sub-header {
    width: 84%;
    margin-left: -5rem;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand img {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1427px) {
  .navbar_wrapper {
    width: 100%;
  }
  .navbar_wrapper .sub-header {
    padding: 0.5rem;
    width: 84%;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand img {
    width: 50%;
  }
  .navbar_wrapper .sub-header .firstContainer .collapse ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 0.7em;
    color: #FFFFFF;
    margin-right: 2rem;
  }
  .navbar_wrapper .sub-header .firstContainer .collapse .loginButton .btn {
    padding-left: 2rem;
    padding-right: 2rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar_wrapper {
    width: 100%;
  }
  .navbar_wrapper .sub-header {
    padding: 0.5rem;
    width: 84%;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .navbar_wrapper .sub-header .firstContainer .navbar-brand img {
    width: 50%;
  }
  .navbar_wrapper .sub-header .firstContainer .collapse ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 0.53em;
    color: #FFFFFF;
    margin-right: 2rem;
  }
  .navbar_wrapper .sub-header .firstContainer .collapse .loginButton a {
    font-size: 0.53em;
  }
  .navbar_wrapper .sub-header .firstContainer .collapse .loginButton .btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.hero-section {
  padding-top: 5rem;
  background-image: url("../Images/Background gradient with shape.png");
}

.hero-section .hero-section-1 .hero-1 {
  padding: 4rem 2rem 0rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext {
  overflow: hidden;
  text-align: left;
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.5em;
  color: #ffffff;
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext h1 .money-go-further {
  color: #FFF500;
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext p {
  margin-top: 0.5rem;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button {
  margin-top: 0.5rem;
  background-color: #00AFF0;
  color: #FFFFFF;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  width: 40%;
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button img {
  color: #FFFFFF;
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button:hover {
  margin-top: 0.5rem;
  background-color: #0ba2da;
  color: #FFFFFF;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  width: 40%;
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
}

.hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button:hover img {
  color: #FFFFFF;
}

.hero-section .hero-section-1 .hero-1 .sub_hero_2 .heroimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-1 .hero-1 .sub_hero_2 .heroimage img {
  width: 80%;
}

.hero-section .hero-section-1 .hero-1 .sub_hero_2 .heroimage .Ellipse {
  width: 50%;
}

.hero-section .swapmoney_values {
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  width: 100%;
}

.hero-section .swapmoney_values .sub-section--1 .values_container {
  padding-top: 1rem;
}

.hero-section .swapmoney_values .sub-section--1 .values_container .row .sub__values {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.hero-section .swapmoney_values .sub-section--1 .values_container .row .sub__values span {
  font-weight: 500;
  font-size: 0.6em;
}

.hero-section .swapmoney_values .sub-section--1 .values_container .row .sub__values p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 2em;
}

@media screen and (max-width: 420px) {
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext h1 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.9em;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext p {
    margin-top: 1.5rem;
    font-size: 1.1em;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1em;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button img {
    color: #FFFFFF;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero_2 .heroimage img {
    width: 100%;
  }
  .hero-section .swapmoney_values .sub-section--1 {
    padding-left: 1rem;
  }
  .hero-section .swapmoney_values .sub-section--1 .values_container .row .sub__values span {
    font-size: 0.8em;
  }
  .hero-section .swapmoney_values .sub-section--1 .values_container .row .sub__values p {
    font-size: 2.1em;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1427px) {
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext h1 {
    font-size: 3.5em;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext p {
    font-size: 0.9em;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button img {
    color: #FFFFFF;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero_2 .heroimage img {
    width: 70%;
  }
}

@media screen and (min-width: 975px) and (max-width: 1200px) {
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext h1 {
    font-size: 3.2em;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext p {
    font-size: 0.8em;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero .herotext .hero_button img {
    color: #FFFFFF;
  }
  .hero-section .hero-section-1 .hero-1 .sub_hero_2 .heroimage img {
    width: 70%;
  }
  .swapmoney_values .sub-section--1 .values_container .row .sub__values span {
    font-size: 0.3em;
  }
  .swapmoney_values .sub-section--1 .values_container .row .sub__values p {
    font-size: 1.3em;
  }
}

.about-us {
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.about-us .sub_section-2 .about-us-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .sub_section-2 .about-us-row .about-text {
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .sub_section-2 .about-us-row .about-text .about-us__1 h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #FFFFFF;
}

.about-us .sub_section-2 .about-us-row .about-text .about-us__1 h3 .colored-story {
  color: #FFF500;
}

.about-us .sub_section-2 .about-us-row .about-text .about-us__1 p {
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  color: #FFFFFF;
  text-align: justify;
  line-break: auto;
}

.about-us .sub_section-2 .about-us-row .about-text .about-us__1 .learn-more {
  margin-top: 1rem;
  background-color: #e5e5e500;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 1rem;
  border-radius: 7px;
}

.about-us .sub_section-2 .about-us-row .about-text .about-us__1 .learn-more:hover {
  margin-top: 1rem;
  background-color: #00AFF0;
  color: #FFFFFF;
  border: none;
  padding: 1rem;
  border-radius: 7px;
}

.about-us .sub_section-2 .about-us-row .about-image {
  margin-left: 3rem;
}

.about-us .sub_section-2 .about-us-row .about-image img {
  width: 80%;
}

.about-us .sub_section-2 .about-us-row .about-image .sub-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 214px;
  height: 166px;
  right: 20px;
  bottom: 100px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}

.about-us .sub_section-2 .about-us-row .about-image .sub-image h5 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  color: #3D4094;
}

@media screen and (max-width: 420px) {
  .about-us {
    margin: 0;
  }
  .about-us .sub_section-2 .about-us-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us .sub_section-2 .about-us-row .about-text .about-us__1 {
    margin: 0;
    padding-top: 0;
  }
  .about-us .sub_section-2 .about-us-row .about-text .about-us__1 h3 {
    font-size: 2.5em;
  }
  .about-us .sub_section-2 .about-us-row .about-text .about-us__1 p {
    font-size: 1em;
  }
  .about-us .sub_section-2 .about-us-row .about-image {
    display: none;
  }
  .about-us .sub_section-2 .about-us-row .about-image img {
    width: 100%;
  }
  .about-us .sub_section-2 .about-us-row .about-image img .sub-image {
    width: 214px;
    height: 166px;
    right: 20px;
    bottom: 100px;
  }
  .about-us .sub_section-2 .about-us-row .about-image img .sub-image h5 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1200px) {
  .about-us {
    margin: 0;
  }
  .about-us .sub_section-2 .about-us-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us .sub_section-2 .about-us-row .about-image img {
    width: 100%;
  }
  .about-us .sub_section-2 .about-us-row .about-image img .sub-image {
    width: 214px;
    height: 166px;
    right: 20px;
    bottom: 100px;
  }
  .about-us .sub_section-2 .about-us-row .about-image img .sub-image h5 {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 580px) and (max-width: 993) {
  .about-us {
    margin: 0;
  }
  .about-us .sub_section-2 .about-us-row .about-text {
    margin-left: 0.2rem;
  }
  .about-us .sub_section-2 .about-us-row .about-text .about-us_1 p {
    font-size: 0.3em;
  }
  .about-us .sub_section-2 .about-us-row .about-image img {
    width: 100%;
  }
  .about-us .sub_section-2 .about-us-row .about-image .sub-image {
    width: 126px;
    height: 109px;
    right: 20px;
    bottom: 79px;
  }
  .about-us .sub_section-2 .about-us-row .about-image .sub-image h5 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 580px) {
  .about-us {
    margin: 0;
  }
  .about-us .sub_section-2 .about-us-row .about-text {
    margin-left: 0.2rem;
  }
  .about-us .sub_section-2 .about-us-row .about-text .about-us_1 p {
    font-size: 0.3em;
  }
  .about-us .sub_section-2 .about-us-row .about-image {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
  }
  .about-us .sub_section-2 .about-us-row .about-image img {
    width: 80%;
  }
  .about-us .sub_section-2 .about-us-row .about-image .sub-image {
    width: 146px;
    height: 124px;
    right: 20px;
    bottom: 60px;
  }
  .about-us .sub_section-2 .about-us-row .about-image .sub-image h5 {
    font-size: 1em;
  }
}

.our-partners {
  margin: 0;
  background: #FFFFFF;
}

.our-partners .parabola_1 img,
.our-partners .parabola_2 img {
  width: 100%;
}

.our-partners .sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-partners .sub-section .header-text {
  text-align: center;
}

.our-partners .sub-section .header-text h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  color: #3D4094;
  margin-bottom: 6rem;
  padding-top: 0;
  margin-top: 0;
}

.our-partners .sub-section .header-text p {
  margin-top: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
}

.our-partners .sub-section .partners-logo .logo_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-partners .sub-section .partners-logo .logo_1 img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 10%;
  margin-right: 5rem;
}

.our-partners .sub-section .partners-logo .logo_1 img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  width: 10%;
}

.our-partners .sub-section .partners-logo .logo_2 {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-partners .sub-section .partners-logo .logo_2 img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 10%;
  margin-right: 2rem;
}

.our-partners .sub-section .partners-logo .logo_2 img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  width: 10%;
}

.our-partners .sub-section .partners-logo .logo_3 {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-partners .sub-section .partners-logo .logo_3 img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 10%;
  margin-right: 5rem;
}

.our-partners .sub-section .partners-logo .logo_3 img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  width: 10%;
}

@media screen and (max-width: 576px) {
  .our-partners {
    margin: 0;
  }
  .our-partners .parabola_1 img,
  .our-partners .parabola_2 img {
    width: 100%;
  }
  .our-partners .sub-section .header-text h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  .our-partners .partners-logo .logo_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: justify;
  }
  .our-partners .partners-logo .logo_1 img {
    width: 100%;
  }
  .our-partners .partners-logo .logo_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: justify;
  }
  .our-partners .partners-logo .logo_2 img {
    width: 100%;
  }
  .our-partners .partners-logo .logo_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: justify;
    margin-left: 4rem;
  }
  .our-partners .partners-logo .logo_3 img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .our-partners {
    margin: 0;
  }
  .our-partners .parabola_1 img,
  .our-partners .parabola_2 img {
    width: 100%;
  }
}

.why-swap-money {
  margin: 0;
}

.why-swap-money .sub-section {
  padding: 6rem;
}

.why-swap-money .sub-section .sub-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-swap-money .sub-section .sub-section-1 .girl-image {
  margin-right: 2rem;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}

.why-swap-money .sub-section .sub-section-1 .girl-image img {
  width: 100%;
}

.why-swap-money .sub-section .sub-section-1 .girl-image:hover {
  margin-right: 2rem;
  width: 300px;
  height: 300px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.why-swap-money .sub-section .sub-section-1 .girl-image:hover img {
  width: 100%;
}

.why-swap-money .sub-section .sub-section-1 .why-swap-text {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #3D4094;
  padding: 30px 40px;
  margin-left: 2rem;
}

.why-swap-money .sub-section .sub-section-1 .why-swap-text h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
}

.why-swap-money .sub-section .sub-section-1 .why-swap-text p {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
}

.why-swap-money .sub-section .sub-section-2 {
  padding: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-1 {
  width: 100%;
  max-width: 268px;
  max-height: 122px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-1 .swap-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-1 .swap-card img {
  width: 60%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-1 .swap-card .swap-text {
  width: 100%;
  color: #FFFFFF;
  text-align: left;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-1 .swap-card .swap-text span {
  font-style: normal;
  font-weight: bold;
  font-size: 0.7em;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-1 .swap-card .swap-text p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-2 {
  width: 100%;
  max-width: 384px;
  max-height: 122px;
  margin-left: 2rem;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-2 .swap-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-2 .swap-card img {
  width: 60%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-2 .swap-card .swap-text {
  color: #FFFFFF;
  text-align: left;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-2 .swap-card .swap-text span {
  font-style: normal;
  font-weight: bold;
  font-size: 0.7em;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-2 .swap-card .swap-text p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-3 {
  width: 100%;
  max-width: 197px;
  max-height: 122px;
  margin-left: 2rem;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-3 .swap-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-3 .swap-card img {
  width: 60%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-3 .swap-card .swap-text {
  color: #FFFFFF;
  text-align: left;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-3 .swap-card .swap-text span {
  font-style: normal;
  font-weight: bold;
  font-size: 0.7em;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-3 .swap-card .swap-text p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-4 {
  width: 100%;
  max-width: 417px;
  max-height: 122px;
  margin-left: 2rem;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-4 .swap-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-4 .swap-card img {
  width: 60%;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-4 .swap-card .swap-text {
  color: #FFFFFF;
  text-align: left;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-4 .swap-card .swap-text span {
  font-style: normal;
  font-weight: bold;
  font-size: 0.7em;
}

.why-swap-money .sub-section .sub-section-2 .swap-benefits-4 .swap-card .swap-text p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

@media screen and (max-width: 420px) {
  .why-swap-money {
    margin: 0;
  }
  .why-swap-money .sub-section .sub-section-1 {
    margin-left: -6rem;
    margin-right: -2rem;
  }
  .why-swap-money .sub-section .sub-section-1 .girl-image img {
    margin-left: 2rem;
    width: 100%;
  }
  .why-swap-money .sub-section .sub-section-1 .why-swap-text {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 2rem;
  }
  .why-swap-money .sub-section .sub-section-1 .why-swap-text h2 {
    font-size: 1.5em;
  }
  .why-swap-money .sub-section .sub-section-1 .why-swap-text p {
    font-size: 1em;
  }
  .why-swap-money .sub-section .sub-section-2 {
    display: block;
    margin-left: -2rem;
    padding: 0;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-1 {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-2 {
    margin-top: 2rem;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-3 {
    margin-top: 2rem;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-4 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 993px) {
  .why-swap-money {
    margin: 0;
  }
  .why-swap-money .sub-section .sub-section-2 {
    padding: 0;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-1 {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-2 {
    margin-top: 2rem;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-3 {
    margin-top: 2rem;
  }
  .why-swap-money .sub-section .sub-section-2 .swap-benefits-4 {
    margin-top: 2rem;
  }
}

.why-swap-money-2 {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.why-swap-money-2 .sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 6rem;
  padding-bottom: 6rem;
}

.why-swap-money-2 .sub-section .sub-section-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 6rem 6rem 6rem;
}

.why-swap-money-2 .sub-section .sub-section-2 .why-swap-text {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #3D4094;
  text-align: justify;
  padding: 2rem;
  margin-bottom: 0;
  width: 40%;
}

.why-swap-money-2 .sub-section .sub-section-2 .why-swap-text h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
}

.why-swap-money-2 .sub-section .sub-section-2 .why-swap-text h2 .colored-impossibilities {
  color: #FAA300;
}

.why-swap-money-2 .sub-section .sub-section-2 .why-swap-text p {
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  text-align: justify;
}

.why-swap-money-2 .sub-section .sub-section-2 .why-swap-text .learn-more {
  margin-top: 1rem;
  background-color: #e5e5e500;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 1rem;
  border-radius: 7px;
}

.why-swap-money-2 .sub-section .sub-section-2 .why-swap-text .learn-more:hover {
  margin-top: 1rem;
  background-color: #00AFF0;
  color: #FFFFFF;
  border: none;
  padding: 1rem;
  border-radius: 7px;
}

.why-swap-money-2 .sub-section .sub-section-2 .why-swap-text-2 img {
  width: 70%;
}

@media screen and (max-width: 420px) {
  .why-swap-money-2 {
    margin: 0;
  }
  .why-swap-money-2 .sub-section {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .why-swap-money-2 .sub-section .sub-section-2 {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .why-swap-money-2 .sub-section .sub-section-2 .why-swap-text {
    width: 70%;
    padding: 1.5rem;
  }
  .why-swap-money-2 .sub-section .sub-section-2 .why-swap-text h2 {
    font-size: 1.5em;
  }
  .why-swap-money-2 .sub-section .sub-section-2 .why-swap-text p {
    font-size: 1em;
  }
  .why-swap-money-2 .sub-section .sub-section-2 .why-swap-text-2 img {
    display: none;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .why-swap-money-2 {
    margin: 0;
  }
  .why-swap-money-2 .sub-section .sub-section-2 .why-swap-text {
    width: 50%;
  }
  .why-swap-money-2 .sub-section .sub-section-2 .why-swap-text-2 {
    margin-top: 2rem;
  }
  .why-swap-money-2 .sub-section .sub-section-2 .why-swap-text-2 img {
    margin-left: 2rem;
    width: 100%;
  }
}

.win-with-us {
  margin: 0;
  background-color: #FFFFFF;
}

.win-with-us .sub-section {
  padding: 7em;
}

.win-with-us .sub-section h2 {
  font-weight: bold;
  font-size: 3em;
}

.win-with-us .sub-section h2 .colored-wins {
  color: #FAA300;
}

.win-with-us .sub-section .sub-section-1 {
  margin-top: 3rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1 {
  -webkit-box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
          box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
  border-radius: 20px;
  margin-right: 2rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1 .card-body {
  padding-bottom: 4rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1 .card-body .custom-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1 .card-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1 .card-body .cards-button {
  margin-top: 1rem;
  background: #00AFF0;
  /* Shadow/02 */
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
  border-radius: 7px;
  border: none;
  color: #f9fafb;
  font-size: 0.3em;
  padding: 0.6rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1 .card-body .cards-button:hover {
  margin-top: 1rem;
  background: #2e9dc2;
  /* Shadow/02 */
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
  border-radius: 7px;
  border: none;
  color: #f9fafb;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2 {
  -webkit-box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
          box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
  border-radius: 20px;
  margin-right: 2rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2 .card-body {
  padding-bottom: 4rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2 .card-body .custom-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2 .card-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2 .card-body .cards-button {
  margin-top: 1rem;
  background: #00AFF0;
  /* Shadow/02 */
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
  border-radius: 7px;
  border: none;
  color: #f9fafb;
  font-size: 0.3em;
  padding: 0.6rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2 .card-body .cards-button:hover {
  margin-top: 1rem;
  background: #2e9dc2;
  /* Shadow/02 */
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
  border-radius: 7px;
  border: none;
  color: #f9fafb;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 {
  -webkit-box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
          box-shadow: 8px 44px 60px rgba(49, 49, 62, 0.12);
  border-radius: 20px;
  margin-right: 2rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 img {
  width: 100%;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 .card-body {
  padding-bottom: 4rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 .card-body .custom-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 .card-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 .card-body .cards-button {
  margin-top: 1rem;
  background: #00AFF0;
  /* Shadow/02 */
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
  border-radius: 7px;
  border: none;
  color: #f9fafb;
  font-size: 0.3em;
  padding: 0.6rem;
}

.win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 .card-body .cards-button:hover {
  margin-top: 1rem;
  background: #2e9dc2;
  /* Shadow/02 */
  -webkit-box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
          box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
  border-radius: 7px;
  border: none;
  color: #f9fafb;
}

@media screen and (max-width: 420px) {
  .win-with-us {
    margin: 0;
  }
  .win-with-us .sub-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding-bottom: 4rem;
  }
  .win-with-us .sub-section h2 {
    padding: 3rem 1rem 0rem 1rem;
    font-size: 2.2em;
  }
  .win-with-us .sub-section .sub-section-1 {
    margin-left: 1rem;
    margin-top: 0;
  }
  .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1, .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2, .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 {
    margin-top: 4rem;
  }
  .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1 .card-body .custom-title .accordion .accordion-item .accordion-header button, .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2 .card-body .custom-title .accordion .accordion-item .accordion-header button, .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 .card-body .custom-title .accordion .accordion-item .accordion-header button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1200px) {
  .win-with-us {
    margin: 0;
  }
  .win-with-us .sub-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-1, .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-2, .win-with-us .sub-section .sub-section-1 .card-wrap .swap-cardds-3 {
    margin-top: 4rem;
  }
}

.swap-money-footer {
  background-color: #3D4094;
  width: 100%;
}

.swap-money-footer .sub-section-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 2rem 3rem 7rem;
}

.swap-money-footer .sub-section-1 .swap-footer-1 {
  margin-top: 2rem;
}

.swap-money-footer .sub-section-1 .swap-footer-1 img {
  width: 30%;
  margin-bottom: 1rem;
}

.swap-money-footer .sub-section-1 .swap-footer-1 p {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-companies .companies {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #9b9bf7;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-companies .footer-links {
  margin-top: 2rem;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-companies .footer-links p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-companies .footer-links a {
  text-decoration: none;
  color: #FFFFFF;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-products {
  padding-top: 2rem;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-products .products {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #9b9bf7;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-products .footer-links {
  margin-top: 2rem;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-products .footer-links p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-products .footer-links a {
  text-decoration: none;
  color: #FFFFFF;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-offers {
  padding-top: 2rem;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-offers .offers {
  margin-top: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #9b9bf7;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-offers .footer-links {
  margin-top: 2rem;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-offers .footer-links p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
}

.swap-money-footer .sub-section-1 .about-footer .swap-footer-2 .footer-offers .footer-links a {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 420px) {
  .swap-money-footer {
    margin: 0;
  }
  .swap-money-footer .sub-section-1 {
    padding: 0;
    text-align: left;
  }
  .swap-money-footer .sub-section-1 .swap-footer-1 img {
    width: 100%;
  }
  .swap-money-footer .sub-section-1 .swap-footer-1 p {
    font-size: 0.9em;
    margin-bottom: 3rem;
  }
  .swap-money-footer .sub-section-1 .about-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .swap-money-footer .sub-section-1 .about-footer .swap-footer-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-base {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #FFFFFF;
  background-color: #3D4094;
  padding: 1.5rem 7rem 1.5rem 7rem;
}

.footer-base .footer-base-circles .span {
  color: #FFFFFF;
  font-size: 2em;
}

.footer-base .footer-copyright p {
  color: #9b9bf7;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .footer-base {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-base .footer-base-circles {
    margin-bottom: 2rem;
  }
  .footer-base .footer-copyright p {
    font-size: 0.8em;
    text-align: left;
  }
}

.animate__animated.animate__slideInLeft, .animate__slideInRight {
  --animate-duration: 2s;
}

.herotobeanimated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.girl-image.active {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*# sourceMappingURL=mainStyles.css.map */